ISS/backend/src/main/resources/schema/country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Code" type="xs:string"/>
                <xs:element name="UrlCode" type="xs:string"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
